[slot='drawer'] {
  background-image: linear-gradient(0deg, var(--lumo-shade-5pct), var(--lumo-shade-5pct));
}

[slot='drawer'] nav a {
  text-decoration: none;
  transition: color 140ms;
}

[slot='drawer'] nav a .la {
  margin-top: calc(var(--lumo-space-l) * 0.5);
}

[slot='drawer'] nav a::before {
  border-radius: var(--lumo-border-radius);
  bottom: calc(var(--lumo-space-xs) * 0.5);
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: calc(var(--lumo-space-xs) * 0.5);
  transition: background-color 140ms;
}

[slot='drawer'] nav a[highlight] {
  color: var(--lumo-primary-text-color);
}

[slot='drawer'] nav a[highlight]::before {
  background-color: var(--lumo-primary-color-10pct);
}

[slot='drawer'] footer vaadin-context-menu {
  align-items: center;
  display: flex;
}

.menu-item-link {
  display: flex;
  margin-left: var(--lumo-space-s);
  margin-right: var(--lumo-space-s);
  padding: var(--lumo-space-s);
  position: relative;
  color: var(--lumo-secondary-text-color);
}

.menu-item-text {
  font-weight: 500;
  font-size: var(--lumo-font-size-l);
}

.menu-item-icon {
  margin-inline-end: var(--lumo-space-s);
  font-size: var(--lumo-font-size-l);
}

.view-title {
  margin-top: 250px;
  font-size: 50px;
  font-weight: bold;
}

.view-image {
  margin-top: 100px;
}

.view-header {
  align-items: center;
  background-color: var(--lumo-base-color);
  border-bottom: 1px solid;
  border-color: var(--lumo-contrast-10pct);
  box-sizing: border-box;
  display: flex;
  height: var(--lumo-size-xl);
  width: 100%;
}

.view-toggle {
  color: var(--lumo-secondary-text-color);
}

.app-name {
  align-items: center;
  display: flex;
  height: var(--lumo-size-xl);
  margin: 0;
  padding-left: var(--lumo-space-m);
  padding-right: var(--lumo-space-m);
  font-size: var(--lumo-font-size-m);
}

.drawer-section {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-height: 100%;
}

.menu-item-container {
  border-bottom: 1px solid;
  border-color: var(--lumo-contrast-10pct);
  flex-grow: 1;
  overflow: auto;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer {
  align-items: center;
  display: flex;
  margin-bottom: var(--lumo-space-s);
  margin-top: var(--lumo-space-s);
  padding-left: var(--lumo-space-m);
  padding-right: var(--lumo-space-m);
  padding-bottom: var(--lumo-space-xs);
  padding-top: var(--lumo-space-xs);
}

.main-view {
  display: block;
  height: 100%;
}

.main-view vaadin-grid {
  height: 100%;
  line-height: var(--lumo-line-height-m);
}

.main-view vaadin-grid,
.main-view vaadin-grid-cell-content {
  background-color: var(--lumo-contrast-10pct);
}

.main-view .card {
  background-color: var(--lumo-base-color);
  border-radius: var(--lumo-border-radius);
  box-shadow: var(--lumo-box-shadow-xs);
  padding: calc(var(--lumo-space-s) * 1.5) var(--lumo-space-m);
}

.main-view .positive {
  background-color: #2E8B57;
  border-radius: var(--lumo-border-radius);
  box-shadow: var(--lumo-box-shadow-xs);
  padding: calc(var(--lumo-space-s) * 1.5) var(--lumo-space-m);
}

.main-view .negative {
  background-color: #8B0000;
  border-radius: var(--lumo-border-radius);
  box-shadow: var(--lumo-box-shadow-xs);
  padding: calc(var(--lumo-space-s) * 1.5) var(--lumo-space-m);
}

.main-view .neutral {
  background-color: #4682B4;
  border-radius: var(--lumo-border-radius);
  box-shadow: var(--lumo-box-shadow-xs);
  padding: calc(var(--lumo-space-s) * 1.5) var(--lumo-space-m);
}

.main-view img {
  border-radius: 50%;
  flex-shrink: 0;
  height: var(--lumo-size-m);
  margin-right: calc(var(--lumo-space-s) * 1.5);
  width: var(--lumo-size-m);
}

.main-view .header {
  align-items: baseline;
}

.main-view .name {
  font-size: var(--lumo-font-size-s);
  font-weight: bold;
  margin-right: var(--lumo-space-s);
}

.main-view .username {
  font-size: var(--lumo-font-size-s);
  font-weight: normal;
  margin-right: var(--lumo-space-s);
}

.main-view .date {
  color: var(--lumo-tertiary-text-color);
  font-size: var(--lumo-font-size-xs);
}

.main-view .post {
  color: var(--lumo-secondary-text-color);
  font-size: var(--lumo-font-size-s);
  margin-bottom: var(--lumo-space-s);
  white-space: normal;
}

.main-view .actions {
  align-items: center;
}

.main-view .icon {
  color: var(--lumo-tertiary-text-color);
  height: calc(var(--lumo-icon-size-s) * 0.8);
  margin-right: var(--lumo-space-s);
  width: calc(var(--lumo-icon-size-s) * 0.8);
}

.main-view .likes,
.main-view .comments,
.main-view .shares {
  color: var(--lumo-tertiary-text-color);
  font-size: var(--lumo-font-size-xs);
  margin-right: var(--lumo-space-l);
}
